
.leaf {
    position: fixed;
    width: 22.5px;
    height: 22.5px;
    z-index: 0;
    background-size: cover;
}

@keyframes fall_clockwise {
    0% {
        transform: translateY(-100px) rotate(0deg) translateX(0px);
    }
    100% {
        transform: translateY(calc(100vh + 40px)) rotate(360deg) translateX(20px);
    }
}

@keyframes fall_counterclockwise {
    0% {
        transform: translateY(-100px) rotate(0deg) translateX(0px);
    }
    100% {
        transform: translateY(calc(100vh + 40px)) rotate(-360deg) translateX(-20px);
    }
}

/*============================================================*/

*{
    font-family: 'Monocraft';
    src: url('../Saligan_CS-2240_-4-326-_PA1/custom_fonts/Monocraft.ttf');
    text-decoration: none;
    color: inherit;
}

body{
    background-color: rgb(255, 255, 255);
    background-position: static;
    background-size: 70%;
}

main{
    position: relative;
    text-align: center;
    top: -20px;
}

/*============================================================*/

.video-container {
    top: 0px;
    position: relative;
    width: fit-content; 
    width: 100%;
}

.homepage_video{
    overflow: hidden;
    top: 0px;
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 20px;;
    margin-bottom: 5%;
}

.minecraft_title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 35%; 
}

.minecraft_playnow {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 15%; 
    transition: width 0.5s ease;
}

.minecraft_playnow:hover {
    width: 20%; 
}

/*============================================================*/

p{
    position: relative;
    color: rgb(190, 188, 188);
    background-image: repeating-linear-gradient(to right, #213145, #3d5779, #263f60);
    border: 3px solid #131c28;
    border-radius: 5px;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1.5rem;
    font-size: 15px;
    line-height: 45px;
    overflow: hidden;
}

.username{
    color:#e56c10;
    -webkit-text-stroke: 0.8px #e56c10;
}

.subjectname{
    color:#e56c10;
    -webkit-text-stroke: 0.8px #e56c10;
}

.linebreaker{
    background-image: url('textures/minecraft-bamboo-customplanks.png');
    background-size: 58.8px;
    border: 2px solid #8da781;
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 5%;
    height: 15px;
}

/*============================================================*/

.dimensions_title {
    height: 100%;
    width: 30%;
    background-image: repeating-linear-gradient(to right, #c62e7a, #db66a0, #af3087);
    border: 3px solid #6d0d3f;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 5%;
    transition: all 0.3s ease; 
}

.dimensions_title:hover {
    width: 35%;
    transform: scale(1.2);
}

.dimensions_title:hover::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.dimensions_title:hover::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

p.dimensions_paragraph{
    position: relative;
    color: rgb(76, 6, 62);
    background-image: repeating-linear-gradient(to right, #c13e7f, #db66a0, #c13e7f);
    border: 3px solid #6d0d3f;
    border-radius: 5px;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1.5rem;
    font-size: 15px;
    line-height: 45px;
}

/*============================================================*/

.biomes_title {
    height: 100%;
    width: 30%;
    background-image: repeating-linear-gradient(to right, #66bcd9, #36a4cf, #8ba9e4);
    border: 3px solid #054607;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 5%;
    transition: all 0.3s ease;
}

.biomes_title:hover {
    width: 35%;
    transform: scale(1.2);
}

.biomes_title:hover::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.biomes_title:hover::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

p.biomes_paragraph{
    position: relative;
    color: rgb(9, 44, 75);
    background-image: repeating-linear-gradient(to right, #66bcd9, #36a4cf, #8ba9e4);
    border: 3px solid #054607;
    border-radius: 5px;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1.5rem;
    font-size: 15px;
    line-height: 45px;
}

/*============================================================*/

.mobs_title {
    height: 100%;
    width: 30%;
    background-image: repeating-linear-gradient(to right, #efb028, #edaf45, #eca415);
    border: 3px solid #e44a02;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 5%;
    transition: all 0.3s ease;
}

.mobs_title:hover {
    width: 35%;
    transform: scale(1.2); 
}

.mobs_title:hover::before {
    content: ''; 
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.mobs_title:hover::after {
    content: ''; 
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/*============================================================*/

p.mobs_paragraph{
    position: relative;
    color: rgb(139, 60, 12);
    background-image: repeating-linear-gradient(to right, #efb028, #edaf45, #eca415);
    border: 3px solid #e44a02;
    border-radius: 5px;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1.5rem;
    font-size: 15px;
    line-height: 45px;
    overflow: hidden; 
}

/*============================================================*/

.aboutme_title {
    height: 100%;
    width: 35%;
    background-image: repeating-linear-gradient(to right, #213145, #3d5779, #263f60);
    border: 3px solid #131c28;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 5%;
    transition: all 0.3s ease;
}

.aboutme_title:hover {
    height: 80%;
    width: 45%;
}

.aboutme_title:hover::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.aboutme_title:hover::after {
    content: ''; 
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/*============================================================*/

.sidebar-left{
    position: fixed;
    left: 0;
    top: 0;
    width: 57.75px;
    height: 100%;
    background-size: 57.6px;
    background-image: url('textures/minecraft-cherry-log-side.png'); 
}

.sidebar-right{
    position: fixed;
    right: 0;
    top: 0;
    width: 57.75px;
    height: 100%;
    background-size: 57.6px;
    background-image: url('textures/minecraft-cherry-log-side.png'); 
}

.bottombar{
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 57.75px;
    background-size: 57.6px;
    background-image: url('textures/minecraft-moss.png'); 
    border-top: 3px solid #265e37;
    display: grid;
    grid-template-columns: repeat(27, 1fr); 
    grid-template-rows: auto;
}

.bottombar span {
    position: relative;
}

.bottombar span:nth-child(1)::after,
.bottombar span:nth-child(13)::after,
.bottombar span:nth-child(16)::after,
.bottombar span:nth-child(19)::after,
.bottombar span:nth-child(25)::after {
    content: '';
    position: absolute;
    top: -74px;
    left: 30%;
    transform: translateX(-50%);
    width: 22.5px; 
    height: 22.5px; 
    background-image: url('leaves/minecraft-pink-petals-2D-1.png');
    background-size: cover;
}

.bottombar span:nth-child(4)::after,
.bottombar span:nth-child(7)::after,
.bottombar span:nth-child(10)::after,
.bottombar span:nth-child(22)::after {
    content: '';
    position: absolute;
    top: -74px;
    left: 70%;
    transform: translateX(-50%);
    width: 22.5px; 
    height: 22.5px; 
    background-image: url('leaves/minecraft-pink-petals-2D-3.png');
    background-size: cover;
}

.bottombar span:nth-child(5)::after,
.bottombar span:nth-child(11)::after,
.bottombar span:nth-child(14)::after,
.bottombar span:nth-child(20)::after,
.bottombar span:nth-child(23)::after,
.bottombar span:nth-child(26)::after {
    content: '';
    position: absolute;
    top: -74px;
    left: 40%;
    transform: translateX(-50%);
    width: 22.5px; 
    height: 22.5px; 
    background-image: url('leaves/minecraft-pink-petals-2D-4.png');
    background-size: cover;
}

.bottombar span:nth-child(2)::after,
.bottombar span:nth-child(8)::after,
.bottombar span:nth-child(17)::after {
    content: '';
    position: absolute;
    top: -74px;
    left: 80%;
    transform: translateX(-50%);
    width: 22.5px; 
    height: 22.5px; 
    background-image: url('leaves/minecraft-pink-petals-2D-2.png');
    background-size: cover;
}

.bottombar span:nth-child(9)::after,
.bottombar span:nth-child(12)::after,
.bottombar span:nth-child(15)::after,
.bottombar span:nth-child(18)::after,
.bottombar span:nth-child(24)::after {
    content: '';
    position: absolute;
    top: -74px;
    left: 60%;
    transform: translateX(-50%);
    width: 22.5px; 
    height: 22.5px; 
    background-image: url('leaves/minecraft-pink-petals-2D-5.png');
    background-size: cover;
}

.bottombar span:nth-child(3)::after,
.bottombar span:nth-child(6)::after,
.bottombar span:nth-child(21)::after,
.bottombar span:nth-child(27)::after {
    content: '';
    position: absolute;
    top: -74px;
    left: 20%;
    transform: translateX(-50%);
    width: 22.5px; 
    height: 22.5px; 
    background-image: url('leaves/minecraft-pink-petals-2D-6.png');
    background-size: cover;
}

.bottombar-centered-text {
    grid-column: 1 / span 27;
    grid-row: 1; 
    text-align: center;
    line-height: 57.75px;
    color:white;
    font-size: 12px;
}

/*============================================================*/

.left-grid-container-cherryleaves {
    display: grid;
    grid-template-columns: repeat(4, 57.75px); 
    grid-template-rows: repeat(7, 57.75px); 
    position: fixed;
    top: 0;
    left: 0;
}

.left-grid-cherryleaves-block{
    background-size: 57.6px;
}

.left-grid-cherryleaves-block:nth-child(1),
.left-grid-cherryleaves-block:nth-child(2),
.left-grid-cherryleaves-block:nth-child(3),
.left-grid-cherryleaves-block:nth-child(5),
.left-grid-cherryleaves-block:nth-child(6),
.left-grid-cherryleaves-block:nth-child(7),
.left-grid-cherryleaves-block:nth-child(8),
.left-grid-cherryleaves-block:nth-child(9),
.left-grid-cherryleaves-block:nth-child(10),
.left-grid-cherryleaves-block:nth-child(11),
.left-grid-cherryleaves-block:nth-child(12),
.left-grid-cherryleaves-block:nth-child(13),
.left-grid-cherryleaves-block:nth-child(14),
.left-grid-cherryleaves-block:nth-child(15),
.left-grid-cherryleaves-block:nth-child(16),
.left-grid-cherryleaves-block:nth-child(17),
.left-grid-cherryleaves-block:nth-child(18),
.left-grid-cherryleaves-block:nth-child(19),
.left-grid-cherryleaves-block:nth-child(21),
.left-grid-cherryleaves-block:nth-child(23),
.left-grid-cherryleaves-block:nth-child(27) {
    background-image: url('textures/minecraft-cherry-leaves.png');
}

.left-grid-cherryleaves-block:nth-child(1),
.left-grid-cherryleaves-block:nth-child(2),
.left-grid-cherryleaves-block:nth-child(5),
.left-grid-cherryleaves-block:nth-child(6),
.left-grid-cherryleaves-block:nth-child(7),
.left-grid-cherryleaves-block:nth-child(9),
.left-grid-cherryleaves-block:nth-child(10),
.left-grid-cherryleaves-block:nth-child(11),
.left-grid-cherryleaves-block:nth-child(13),
.left-grid-cherryleaves-block:nth-child(14),
.left-grid-cherryleaves-block:nth-child(15),
.left-grid-cherryleaves-block:nth-child(18) {
    background-color: lightpink;
}

/*============================================================*/

.right-grid-container-cherryleaves {
    display: grid;
    grid-template-columns: repeat(4, 57.75px); 
    grid-template-rows: repeat(7, 57.75px); 
    position: fixed;
    top: 0;
    right: 0;
}

.right-grid-cherryleaves-block{
    background-size: 57.6px;
}

.right-grid-cherryleaves-block:nth-child(2),
.right-grid-cherryleaves-block:nth-child(3),
.right-grid-cherryleaves-block:nth-child(4),
.right-grid-cherryleaves-block:nth-child(5),
.right-grid-cherryleaves-block:nth-child(6),
.right-grid-cherryleaves-block:nth-child(7),
.right-grid-cherryleaves-block:nth-child(8),
.right-grid-cherryleaves-block:nth-child(9),
.right-grid-cherryleaves-block:nth-child(10),
.right-grid-cherryleaves-block:nth-child(11),
.right-grid-cherryleaves-block:nth-child(12),
.right-grid-cherryleaves-block:nth-child(13),
.right-grid-cherryleaves-block:nth-child(14),
.right-grid-cherryleaves-block:nth-child(15),
.right-grid-cherryleaves-block:nth-child(16),
.right-grid-cherryleaves-block:nth-child(17),
.right-grid-cherryleaves-block:nth-child(19),
.right-grid-cherryleaves-block:nth-child(20),
.right-grid-cherryleaves-block:nth-child(23),
.right-grid-cherryleaves-block:nth-child(24),
.right-grid-cherryleaves-block:nth-child(27) {
    background-image: url('textures/minecraft-cherry-leaves.png');
}

.right-grid-cherryleaves-block:nth-child(3),
.right-grid-cherryleaves-block:nth-child(4),
.right-grid-cherryleaves-block:nth-child(6),
.right-grid-cherryleaves-block:nth-child(7),
.right-grid-cherryleaves-block:nth-child(8),
.right-grid-cherryleaves-block:nth-child(10),
.right-grid-cherryleaves-block:nth-child(11),
.right-grid-cherryleaves-block:nth-child(12),
.right-grid-cherryleaves-block:nth-child(15),
.right-grid-cherryleaves-block:nth-child(16),
.right-grid-cherryleaves-block:nth-child(19) {
    background-color: lightpink;
}

/*============================================================*/

.minecraft-skin-pointing {
    z-index: 1;
    position: fixed;
    height: auto;
    right: -35px;
    bottom: 35px;
    width: 180px;
    pointer-events: auto;
    transition: all 0.3s ease; 
}

.minecraft-skin-pointing:hover {
    width: 200px;
}

.minecraft-skin-sitting-pointing {
    z-index: 1;
    position: fixed;
    height: auto;
    left: -35px;
    bottom: -5px;
    width: 180px;
    pointer-events: auto;
    transition: all 0.3s ease; 
}

.minecraft-skin-sitting-pointing:hover {
    width: 200px;
}

.minecraft-skin-pointing.enlarged,
.minecraft-skin-sitting-pointing.enlarged {
    animation: enlargeAnimation 0.7s infinite alternate; 
}

@keyframes enlargeAnimation {
    0% { width: 180px; }
    100% { width: 220px; }
}

/*============================================================*/

nav {
    font-family: 'Monocraft';
    src: url(custom_fonts/Monocraft.ttf);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 691.5px;
    height: 57.75px;
    background-image: url('textures/minecraft-redstone-lamp-off-redstone.png');
    background-size: 57.6px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 12.75px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2px #ff8400;
    color: #f1cd1a;
    text-decoration: none;
    line-height: 57.75px;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: all 0.5s ease; 
}

nav a:hover {
    font-size: 14.25px;
    font-weight: bolder;
    -webkit-text-stroke: 0.1px #f1cd1a;
    color: #ffffff;
}

nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: -1;
    background-image: url('textures/minecraft-redstone-lamp-on-redstone.png');
    background-size: 57.6px;
    width: 100px;
    transition: opacity 1s ease-out 0s;
    opacity: 0;
}

nav a:hover ~.animation{
    opacity: 1;
}

a:nth-child(1){
    width: 115.2px;
    background-image: url('textures/minecraft-redstone-lamp-on-redstone.png');
    background-size: 57.6px;
    font-size: 14.25px;
    font-weight: bolder;
    -webkit-text-stroke: 0.1px #f1cd1a;
    color: #ffffff;
}

nav .start-home,a:nth-child(1):hover~.animation{
    width: 115.2px;
    left: 0px;
}

a:nth-child(2){
    width: 172.8px;
}

nav .start-dimensions,a:nth-child(2):hover~.animation{
    width: 172.8px;
    left: 115.2px;
}

a:nth-child(3){
    width: 115.2px;
}

nav .start-biomes,a:nth-child(3):hover~.animation{
    width: 115.2px;
    left: 288px;
}

a:nth-child(4){
    width: 115.2px;
}

nav .start-mobs,a:nth-child(4):hover~.animation{
    width: 115.2px;
    left: 403.2px;
}

a:nth-child(5){
    width: 172.8px;
}

nav .start-contact,a:nth-child(5):hover~.animation{
    width: 172.8px;
    left: 518.4px;
}
.icons{
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
}

.special_icons{
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
}

/*============================================================*/

@media only screen and (max-width: 750px) {

    nav {
        width: calc(691.5px * 0.6667); /* 33.33% smaller */
        height: calc(57.75px * 0.6667); /* 33.33% smaller */
        background-size: calc(57.6px * 0.6667); /* 33.33% smaller */
    }

    nav a {
        font-size: calc(12.75px * 0.6667); /* 33.33% smaller */
        line-height: calc(57.75px * 0.6667); /* 33.33% smaller */
    }

    nav .animation {
        background-size: calc(57.6px * 0.6667); /* 33.33% smaller */
    }

    nav a:hover {
        font-size: calc(14.25px * 0.6667); /* 33.33% smaller on hover */
    }

    a:nth-child(1){
        width: calc(115.2px * 0.6667);
        background-size: calc(57.6px * 0.6667);
        font-size:  calc(14.25px * 0.6667);
        white-space: nowrap; /* Prevent text from wrapping onto multiple lines */
    }
    
    nav .start-home, a:nth-child(1):hover~.animation {
        width: calc(115.2px * 0.6667);
        left: 0px;
    }
    
    a:nth-child(2) {
        width: calc(172.8px * 0.6667);
    }
    
    nav .start-dimensions, a:nth-child(2):hover~.animation {
        width: calc(172.8px * 0.6667);
        left: calc(115.2px * 0.6667);
    }
    
    a:nth-child(3) {
        width: calc(115.2px * 0.6667);
    }
    
    nav .start-biomes, a:nth-child(3):hover~.animation {
        width: calc(115.2px * 0.6667);
        left: calc(288px * 0.6667);
    }
    
    a:nth-child(4) {
        width: calc(115.2px * 0.6667);
    }
    
    nav .start-mobs, a:nth-child(4):hover~.animation {
        width: calc(115.2px * 0.6667);
        left: calc(403.2px * 0.6667);
    }
    
    a:nth-child(5) {
        width: calc(172.8px * 0.6667);
    }
    
    nav .start-contact, a:nth-child(5):hover~.animation {
        width: calc(172.8px * 0.6667);
        left: calc(518.4px * 0.6667);
    }

    .icons {
        width: calc(24px * 0.6667); /* 33.33% smaller */
        height: calc(24px * 0.6667); /* 33.33% smaller */
        top: calc(6px * 0.6667); /* 33.33% smaller */
    }

    .special_icons {
        width: calc(18px * 0.6667); /* 33.33% smaller */
        height: calc(18px * 0.6667); /* 33.33% smaller */
        top: calc(3px * 0.6667); /* 33.33% smaller */
    }

}

/*============================================================*/